body {
  font-family: system-ui, Arial;
  background-color: #111111;  
  background-image: url(../images/pattern/blurredPattern.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

  color: white;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}
button {
  border-radius: 20px;
  border-radius: 2px;
}

.nav-css {
  background-color: rgba(17, 17, 17, 0.7);
  backdrop-filter: blur(12px);

  /* this is for apple users */
  /* it insures that the blur loads for them */
  -webkit-backdrop-filter: blur(12px);
}